<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

	<listeners>
		<listener class-name="qaAcademy.Listeners"></listener>
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="testCases.ContactTest" />
			<class name="dataBase.SqlData" />
			<class name="testCases.RegistrationTest" />
			<class name="testCases.PracticeTest" />
			<class name="testCases.LinkCountTest" />
			<class name="testCases.HomePage" />
			<class name="testCases.TableTest" />
			<class name="testCases.NavigationTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
